{{ define "main" }}
<div ref="streamContainer" class="stream-container">
  <div class="post-list-container post-list-container-shadow" style="padding: 0;">
    <div style="text-align: center; font-weight: 700; padding-top: 12px;">
      Total posts: <span>{{ len (where .Site.RegularPages "Section" "=" .Section) }}</span>
    </div>
    {{ range .Paginator.Pages.GroupByDate "2006" }}
    <a class="a-block">
      <div class="post-item-wrapper post-item-wrapper-no-hover">
        <div class="post-item post-item-no-gaps" style="padding: 16px 0; margin: 0 20px 0 30px;">
          <div class="post-item-info-wrapper">
            <div class="post-item-title post-item-title-small year">
              {{ .Key }}
              ({{ len .Pages }})
            </div>
          </div>
        </div>
      </div>
    </a>
    {{ range .Pages }}
    <a href="{{ .RelPermalink }}" class="a-block">
      <div class="post-item-wrapper">
        <div class="post-item post-item-no-gaps" style="padding: 16px 0; margin: 0 20px 0 30px;">
          <div class="post-item-info-wrapper">
            <div class="post-item-title" style="font-size: 20px;">
              {{.Title}}
            </div>

            <p>{{ .Summary | safeHTML | truncate 100 }}</p>

            <div class="post-item-meta">
              {{ dateFormat "2 Jan 2006" .Date }}

              {{ if .Draft }}
              <span class="draft-label">[DRAFT]</span>
              {{ end }}

              <time>
                — {{ .ReadingTime }} min read
              </time>
            </div>
          </div>
        </div>
      </div>
    </a>
    {{ end }}
    {{ end }}
  </div>
</div>

{{ end }}