{{ define "main" }}
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post">
            {{ $post_class := "post-head-wrapper-text-only"}}
            {{ $featured_image := .Params.featured_image }}
            {{ if $featured_image }}
                {{ $post_class = "post-head-wrapper"}}
            {{ end }}

            <div class="{{$post_class}}"
                 style="background-image: url('{{ $featured_image | relLangURL}}'); background-size: contain; height: 200px;">
                <!-- <div class="post-title" style="background-color: none !important;">
                    {{ .Title }}
                    {{ if .Params.description }}
                    <div class="post-subtitle">
                        {{ .Params.description }}
                    </div>
                    {{ end }}
                    <div class="post-meta">
                        {{ if .Params.categories }}
                            <i class="material-icons" style="">folder</i>
                                <a href="{{ "/categories/" | relLangURL }}{{ .Params.categories | urlize }}">{{ .Params.categories }}</a>
                                &nbsp;
                        {{ end }}

                        {{ if gt .Params.tags 0 }}
                            <i class="material-icons" style="">label</i>
                            {{ range .Params.tags }}
                                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                                &nbsp;
                            {{ end }}
                        {{ end }}
                    </div>
                </div> -->
            </div>
            
            <div class="post-body-wrapper">
                <div class="post-body">
                    {{.Content}}
                    {{ if not .Lastmod.IsZero }}
                    <HR width="100%" id="EOF">
                    <p style="color:#777;">Last updated: {{ .Page.Lastmod.Format "2 January 2006" }}</p>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}